.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 80vh;
    position: relative;
}

.bannerText {
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 1.4;
    color: #334155;
    font-size: 2em;
    position: relative;
    top: 60px;
    z-index: 20;
    text-align: center;
}

.container {
    background-color: #cbd5e1;
}
